@font-face {
    font-family: 'Text';
    src: url('../../../../public/fonts/LVCSans.otf');
}

.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20.625rem;
    color: #FFFFFF;

    .infos{
        h2{
           font-size: 2rem;
           text-transform: uppercase; 
           margin: .75rem 0rem;
        }

        h1{
            font-size: 4rem;
            text-transform: uppercase;
            margin: .75rem 0px;
        }
        
        p{
            font-family: 'Text';
            margin: 0;
            padding: 0;
            width: 21.875rem;
            text-align:justify;
        }
    }

    .image{
        justify-self: end;
    }
}